altair==5.5.0
cachetools==5.5.2
et_xmlfile==2.0.0
gitdb==4.0.12
GitPython==3.1.44
matplotlib==3.10.0
mkl-service==2.4.0
narwhals==1.30.0
nbclient==0.10.2
openpyxl==3.1.5
streamlit==1.43.1
toml==0.10.2
types-python-dateutil==2.9.0.20241206
XlsxWriter==3.2.2
